<h1> Update Confirmation Page </h1>

<p> Your picture and your caption have been updated! See below for details: </p>

<h2> Picture: </h2>
<img src= <%= @i.source %>>

<h2> Caption: </h2>
<%= @i.caption %>
